#crud-table .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#crud-table .table-header button, #crud-table .table-header input {
  line-height: 24px;
}

#crud-table .p-datatable-scrollable-header-box {
  margin: 0px !important;
}

#crud-table .table-header .left-btn {
  text-align: left;
  padding-bottom: 0;
}

#crud-table .table-header .right-btn {
  text-align: right;
  padding-bottom: 0;
}

#crud-table .p-column-filter {
  width: 100%;
}

@media (max-width: 992px) {
  #crud-table .table-header {
    display: flex;
    justify-content: space-between;
  }
  #crud-table .table-header .left-btn {
    padding-bottom: auto;
  }
  #crud-table .table-header .right-btn .p-input-icon-left {
    width: 100%;
    display: block;
  }
  #crud-table .table-header .right-btn .p-input-icon-left input {
    width: 100%;
  }
}
